*
.container-header {
    background: rgb(96, 205, 248);
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.container-nav {
    background: rgb(108, 143, 172);
    display: flex;
    justify-content: center;
    font-size: 150%;
}

.container-main {
    background: rgb(150, 212, 231);
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.container-principal {
    display: flex;
    flex-direction: column;
}

.box-main {
    background: rgb(113, 173, 201);
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 20px;
    
}

.container-section {
    background: rgb(132, 168, 189);
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 20px;
    
}

.container-footer {
    background: rgb(84, 175, 187);
    display: flex;
    justify-content: center;
    font-size: 150%;
    
}