*
.container-header {
    background: rgb(14,14,14);
    display: flex;
    justify-content: center;
}

.container-nav {
    background: rgb( 197 197 97);
    display: flex;
    justify-content: space-evenly;
    font-size: 150%;
    padding: 10px;
}

.box-nav {
    list-style-type: none;
    display: flex;
    justify-items: center;
}

.image {
    width: 100%;
}

.container-main {
    background: rgb(197, 197, 97);
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.container-principal {
    display: flex;
    flex-direction: column;
}

.box-main {
    background: rgb(190, 217, 230);
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 20px;    
}

.container-section {
    background: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px; 
    margin: 20px;
     
}

.box-section {
    list-style-type: none;
    padding: 20px;
    margin: 10px;
}

.container-footer {
    background: rgb(197, 197, 97);
    display: flex;
    justify-content: space-evenly;
    font-size: 150%;
    
}

.box-footer {
    display: flex;
    list-style-type: none;
}